/* CSS Document */
#logoresults {float:none; text-align:center; margin: 0 auto;}
#resultscontainer { width: 390px; }
.resultform {
width: 411px; }
#iwantresults {float:none;}
.searchresult { width: 88%; }