/* CSS Document */
.titanic {
	float: none;
}
@-ms-viewport {
width: device-width;
}
::selection {
	background-color: #385891;
	color: #fff;
}
html {
	width: 100%;
	margin: 0;
	height: 100%;
}
body {
	width: 100%;
	margin: 0;
	height: 100%;
	font-family: 'OpenSansRegular', sans-serif;
	background-color: #e2e2e2;
}
#home {
	width: 100%;
	height: 100%;
	background-image: url(assets/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
#logo {
	margin: 0 auto;
	float: left;
	background-image: url(assets/logo.png);
	height: 46px;
	width: 199px;
	background-repeat: no-repeat;
	background-size: 78%;
	position: relative;
	background-position: 50% 50%;
	padding: 29px;
}
#logoresults {
	float: left;
	background-image: url(assets/logo.png);
	height: 46px;
	width: 199px;
	background-repeat: no-repeat;
	background-size: 88%;
	position: relative;
	background-position: 50% 50%;
	padding: 13px;
}
#searchcontainer {
	position: absolute;
	height: 100%;
	display: table;
	width: 100%;
	top: 0;
	text-align: center;
}
#search {
	width: 540px;
	margin: 0 auto;
	display: table-cell;
	vertical-align: middle;
}
#searchbox {
	font-size: 40px;
	font-family: 'OpenSansLight', sans-serif;
	color: #fff;
}
.homesearch {
	font-family: 'OpenSansRegular'-webkit-body;
	border: none;
	border-bottom: 4px solid #fff;
	background: transparent;
	width: 50%;
	max-width: 450px;
	height: 55px;
	line-height: 35px;
	font-size: 40px;
	color: #fff;
	padding-bottom: 5px;
}
::-webkit-input-placeholder {
color: #fff;
}
::-ms-input-placeholder {
color: #fff;
}
::-o-input-placeholder {
color: #fff;
}
::-moz-input-placeholder {
color: #fff;
}
.homesearch:focus, .submithome:focus, .searchresult, .submitresult {
	outline: none;
}
#localhome {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: #fff;
	font-size: 16px;
}
.submithome {
	background-color: transparent;
	border: none;
	background-image: url(assets/arrow.png);
	width: 40px;
	height: 60px;
	position: relative;
	display: inline-block;
	bottom: -18px;
	left: -10px;
	border-bottom: 4px solid #fff;
	cursor: pointer;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
#help {
	z-index: 99;
	text-align: right;
	position: relative;
	padding: 10px
}
a {
	color: #fff;
}
#head {
	overflow: auto;
	background-color: #1d7eb2;
}
.searchresult {
	-webkit-border-radius: 0;
	display: inline-block;
	vertical-align: middle;
	font-family: 'OpenSansRegular'-webkit-body;
	border: none;
	border-bottom: 3px solid #fff;
	background: transparent;
	width: 50%;
	max-width: 450px;
	height: 33px;
	font-size: 25px;
	color: #fff;
	padding-bottom: 5px;
}
.resultform {
	width: 701px;
	font-family: 'OpenSansLight', sans-serif;
	font-size: 0;
	color: #fff;
	margin: 0 auto;
	padding: 15px;
	text-align: center;
}
.submitresult {
	background-color: transparent;
	-webkit-border-radius: 0;
	background-image: url(assets/arrow.png);
	width: 35px;
	height: 42px;
	position: relative;
	left: 0px;
	padding-top: 32px;
	border: 0;
	border-bottom: 3px solid #fff !important;
	cursor: pointer;
	border-radius: none;
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	display: inline-block;
	vertical-align: middle;
}
.searchresult:focus, .homeresult:focus {
	outline: none;
}
#resultscontainer {
	margin: 0 auto;
	min-height: 500px;
	text-align: center;
}
#resultscontainer ul {
	list-style: none;
	display: inline-block;
}
.card {
	width: 350px;
	height: 400px;
	background-color: #fff;
	border: 1px solid #c0c0c0;
	float: left;
	margin: 20px;
	border-radius: 5px;
	text-align: left;
	-webkit-transition: 1s ease;
	-ms-transition: 1s ease;
	-moz-transition: 1s ease;
	-o-transition: 1s ease;
	transition: 1s ease;
}
.card:hover {
	box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.5);
}
.resultmessage {
	font-family: 'OpenSansLight', sans-serif;
	color: #000;
	font-size: 26px;
	margin: 20px 0px 0px 0px;
	text-align: left;
}
#iwantresults {
	display: inline-block;
	vertical-align: middle;
	font-size: 28px;
	margin-right: 12px;
}
.content {
}
.cardtop {
	width: 345px;
	border-bottom: 1px solid #c0c0c0;
	height: 189px;
	padding: 5px 0px 5px 5px;
}
.cardbottom {
	width: 330px;
	height: 180px;
	padding: 10px 10px 10px 8px;
}
.cardtext a {
color: #000;
text-decoration: underline;
}
.cardimage {
width: 134px;
height: 200px;
text-align: right;
float: right;
border-top-right-radius: 5px;
border-left: 1px solid #c0c0c0;
margin-top: -10px;
position: relative;
left: 8px;
border-bottom-right-radius: 5px;
}
h2 {
	font-family: 'OpenSansLight', sans-serif;
	font-size: 20px;
	margin: 0px;
}
p {
	font-family: 'OpenSansRegular', sans-serif;
	font-size: 12px;
	margin: 5px 0 0 0;
}
.cardtop .cardtext {
	width: 201px;
	height: 190px;
	overflow: hidden;
	float: left;
	margin-left: 3px;
}
.cardbottom .cardtext {
	width: 334px;
}
.shadow {
	width: 225px;
	background: transparent;
	height: 30px;
	position: relative;
	top: 6px;
	left: -10px;
	box-shadow: 0px -16px 28px #fff;
	z-index: 99;
}
.ptext {
	height: 156px;
	overflow: hidden;
}
.ptext p {
	-webkit-transition: 1s;
	position: relative;
	top: 0;
}
.ptext p:hover {
	top: -50%;
	-webkit-transition: 7s;
}
.smallcard {
	width: 350px;
	height: 200px;
	background-color: #fff;
	border: 1px solid #c0c0c0;
	float: left;
	margin: 20px;
	border-radius: 5px;
	text-align: left;
	-webkit-transition: 1s ease;
	-ms-transition: 1s ease;
	-moz-transition: 1s ease;
	-o-transition: 1s ease;
	transition: 1s ease;
}
.smallcard:hover {
	box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.5);
}
#tipbox {
	width: 175px;
	margin: 0 auto;
	height: 50px;
	background: #248079;
	position: relative;
	color: #fff;
	font-family: 'OpenSansLight', sans-serif;
	font-size: 21px;
	-webkit-animation: tipbox 30s infinite linear;
	-ms-animation: tipbox 30s infinite linear;
	overflow: hidden;
}
#tiptri {
	width: 50px;
	height: 50px;
	background: #248079;
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	position: relative;
	margin: 0 auto;
	top: 25px;
}
@-ms-keyframes tipbox {
 0% {
width: 175px;
}
 23.75% {
width: 175px;
}
 25% {
width: 210px;
}
 48.75% {
width: 210px;
}
 50% {
width: 170px;
}
 73.75% {
width: 170px;
}
 75% {
width: 175px;
}
 98.75% {
width: 175px;
}
 100% {
width: 175px;
}
}
@-ms-keyframes filmtip {
 0% {
opacity: 0;
}
 1.25% {
opacity: 100;
}
 23.75% {
opacity: 100;
}
 25% {
opacity: 0;
}
 100% {
opacity: 0;
}
}
@-ms-keyframes placestip {
 0% {
opacity: 0;
}
 25% {
opacity: 0;
}
 26.25% {
opacity: 100;
}
 48.75% {
opacity: 100;
}
 50% {
opacity: 0;
}
 100% {
opacity: 0;
}
}
@-ms-keyframes gametip {
 0% {
opacity: 0;
}
 50% {
opacity: 0;
}
 51.25% {
opacity: 100;
}
 73.75% {
opacity: 100;
}
 75% {
opacity: 0;
}
 100% {
opacity: 0;
}
}
@-ms-keyframes foodtip {
 0% {
opacity: 0;
}
 75% {
opacity: 0;
}
 76.25% {
opacity: 100;
}
 98.75% {
opacity: 100;
}
 100% {
opacity: 0;
}
}
@-webkit-keyframes tipbox {
 0% {
width: 175px;
}
 23.75% {
width: 175px;
}
 25% {
width: 210px;
}
 48.75% {
width: 210px;
}
 50% {
width: 170px;
}
 73.75% {
width: 170px;
}
 75% {
width: 175px;
}
 98.75% {
width: 175px;
}
 100% {
width: 175px;
}
}
@-webkit-keyframes filmtip {
 0% {
opacity: 0;
}
 1.25% {
opacity: 100;
}
 23.75% {
opacity: 100;
}
 25% {
opacity: 0;
}
 100% {
opacity: 0;
}
}
@-webkit-keyframes placestip {
 0% {
opacity: 0;
}
 25% {
opacity: 0;
}
 26.25% {
opacity: 100;
}
 48.75% {
opacity: 100;
}
 50% {
opacity: 0;
}
 100% {
opacity: 0;
}
}
@-webkit-keyframes gametip {
 0% {
opacity: 0;
}
 50% {
opacity: 0;
}
 51.25% {
opacity: 100;
}
 73.75% {
opacity: 100;
}
 75% {
opacity: 0;
}
 100% {
opacity: 0;
}
}
@-webkit-keyframes foodtip {
 0% {
opacity: 0;
}
 75% {
opacity: 0;
}
 76.25% {
opacity: 100;
}
 98.75% {
opacity: 100;
}
 100% {
opacity: 0;
}
}
#try {
	position: absolute;
	left: 10px;
	top: 10px;
}
#filmtip {
	position: absolute;
	opacity: 0;
	left: 50px;
	top: 10px;
	-webkit-animation: filmtip 30s infinite linear;
	-ms-animation: filmtip 30s infinite linear;
}
#placestip {
	position: absolute;
	opacity: 0;
	left: 50px;
	top: 10px;
	-webkit-animation: placestip 30s infinite linear;
	-ms-animation: placestip 30s infinite linear;
}
#gametip {
	position: absolute;
	opacity: 0;
	left: 50px;
	top: 10px;
	-webkit-animation: gametip 30s infinite linear;
	-ms-animation: gametip 30s infinite linear;
}
#foodtip {
	opacity: 0;
	position: absolute;
	left: 50px;
	top: 10px;
	-webkit-animation: foodtip 30s infinite linear;
	-ms-animation: foodtip 30s infinite linear;
}
#resultsdiv {
	min-height: 100%;
}
#tipbox span {
	white-space: nowrap;
}
#loading {
	display: block;
	margin: 0 auto;
	width: 400px;
}
#loader {
	background-image: url(assets/loading.gif);
	height: 32px;
	width: 32px;
	background-repeat: no-repeat;
	margin: 50px auto;
}